<div class="flex justify-between items-center fixed z-50 w-[calc(100%-16rem)] h-16 bg-white border-b border-gray-200 px-6 top-0 right-0 dark:bg-gray-800 dark:border-gray-700">
    <!-- Nom de l'application (optionnel) -->
    <div class="text-xl font-semibold text-blue-600 dark:text-blue-400">
        Énergie renouvelable   
     </div>

    <!-- Section utilisateur -->
    <div class="flex items-center space-x-4">
        <!-- Nom de l'utilisateur -->
        <span class="font-medium text-gray-700 dark:text-gray-200">DataLinkers</span>
        <!-- Bouton de déconnexion -->
        <button (click)="logout()" class="px-4 py-2 text-sm text-gray-700 bg-gray-200 rounded hover:bg-gray-300 dark:bg-gray-600 dark:text-gray-200 dark:hover:bg-gray-500 focus:outline-none">
            Déconnexion
        </button>
    </div>
</div>
